In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("C:/Users/34677/Documents/GitHub/Python para data science y big data esencial/base_datos_2008.csv", nrows=100000)
# el parámetro nrows limita el número de filas a leer del archivo

In [5]:
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0

In [6]:
df.head(10)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,4.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
7,2008,1,3,4,1039.0,1040,1132.0,1150,WN,535,...,7.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
8,2008,1,3,4,617.0,615,652.0,650,WN,11,...,6.0,19.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
9,2008,1,3,4,1620.0,1620,1639.0,1655,WN,810,...,3.0,6.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [7]:
df.tail()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
99995,2008,1,25,5,2204.0,1935,106.0,2257,XE,7676,...,4.0,17.0,0,NaN,0,0.0,0.0,0.0,0.0,129.0
99996,2008,1,26,6,1933.0,1935,2234.0,2257,XE,7676,...,4.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
99997,2008,1,27,7,2047.0,1935,2400.0,2257,XE,7676,...,6.0,18.0,0,NaN,0,23.0,0.0,0.0,0.0,40.0
99998,2008,1,28,1,1956.0,1935,2308.0,2257,XE,7676,...,5.0,25.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
99999,2008,1,29,2,1938.0,1935,2308.0,2257,XE,7676,...,5.0,41.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [8]:
df.sample(frac=1)
# con frac=1 indicamos que queremos que mantenga el 100 % de las filas que tenemos.

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
57513,2008,1,20,7,1853.0,1845,2049.0,2100,WN,3571,...,3.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
29567,2008,1,12,6,759.0,800,853.0,900,WN,1478,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
29793,2008,1,12,6,1458.0,1500,1551.0,1555,WN,36,...,4.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
19165,2008,1,9,3,643.0,645,836.0,840,WN,425,...,4.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
15581,2008,1,8,2,954.0,950,1034.0,1035,WN,280,...,7.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32912,2008,1,13,7,1933.0,1930,2104.0,2100,WN,1631,...,15.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
82177,2008,1,28,1,920.0,920,1215.0,1155,WN,1493,...,7.0,10.0,0,NaN,0,0.0,0.0,20.0,0.0,0.0
80081,2008,1,27,7,712.0,710,1249.0,1305,WN,1291,...,5.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
67512,2008,1,23,3,853.0,855,1041.0,1105,WN,495,...,7.0,5.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
52854,2008,1,19,6,1234.0,1225,1502.0,1505,WN,229,...,3.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [10]:
df=df.sample(frac=1)

In [11]:
df.columns
# no se utilizan paréntesis debido a que se refiere a un atributo del propio dataframe

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [13]:
df.DepTime

12847    2120.0
26423    1229.0
3231      600.0
22101    1024.0
9214     1129.0
          ...
8279        NaN
86724    1523.0
59256    1339.0
27262    1136.0
38615    1355.0
Name: DepTime, Length: 100000, dtype: float64

In [14]:
df.dtypes

Year                   int64
Month                  int64
DayofMonth             int64
DayOfWeek              int64
DepTime              float64
CRSDepTime             int64
ArrTime              float64
CRSArrTime             int64
UniqueCarrier         object
FlightNum              int64
TailNum               object
ActualElapsedTime    float64
CRSElapsedTime         int64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin                object
Dest                  object
Distance               int64
TaxiIn               float64
TaxiOut              float64
Cancelled              int64
CancellationCode      object
Diverted               int64
CarrierDelay         float64
WeatherDelay         float64
NASDelay             float64
SecurityDelay        float64
LateAircraftDelay    float64
dtype: object

In [15]:
df.values

array([[2008, 1, 7, ..., nan, nan, nan],
       [2008, 1, 11, ..., nan, nan, nan],
       [2008, 1, 4, ..., nan, nan, nan],
       ...,
       [2008, 1, 21, ..., nan, nan, nan],
       [2008, 1, 11, ..., nan, nan, nan],
       [2008, 1, 15, ..., nan, nan, nan]], dtype=object)

In [16]:
df2=df.head(10)

In [17]:
df2.head(20)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
12847,2008,1,7,1,2120.0,2120,2211.0,2215,WN,78,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
26423,2008,1,11,5,1229.0,1230,1345.0,1345,WN,2094,...,5.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3231,2008,1,4,5,600.0,600,656.0,655,WN,2620,...,8.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
22101,2008,1,9,3,1024.0,1025,1300.0,1305,WN,3318,...,4.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
9214,2008,1,6,7,1129.0,1130,1227.0,1230,WN,21,...,3.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
95377,2008,1,23,3,1505.0,1515,1644.0,1658,XE,201,...,6.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
48533,2008,1,17,4,2133.0,2110,2215.0,2155,WN,1431,...,4.0,7.0,0,NaN,0,3.0,0.0,0.0,0.0,17.0
33835,2008,1,13,7,1658.0,1655,1757.0,1745,WN,1192,...,7.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2216,2008,1,3,4,1021.0,1025,1118.0,1125,WN,1488,...,5.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
54732,2008,1,20,7,1714.0,1715,1916.0,1925,WN,3665,...,3.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN