In [2]:
import pandas as pd
df = pd.read_csv("C:/Users/34677/Documents/GitHub/Python para data science y big data esencial/base_datos_2008.csv",nrows=1e6)

In [3]:
dfduplicate = df.append(df)

In [4]:
dfduplicate=dfduplicate.sample(frac=1)
# para reordenar el dataframe

In [5]:
dfclean = dfduplicate.drop_duplicates()
# con esta función se eliminan los datos duplicados

In [6]:
len(dfclean) == len(df)
# comprobación de que se han eliminado los duplicados

False

In [7]:
len(dfclean)
# df contaba con 1e6 filas, al tener dfclean 4 menos, significa que df tenía 2 filas duplicadas

999996

In [8]:
dfclean.drop_duplicates(subset="DayofMonth")
#  buscar duplicados sobre la columna que le especifiquemos, por ejemplo, 'DayofMonth'. 
# Si ejecutamos, podemos ver que ha mantenido una sola fila para cada distinto valor de 
# 'DayofMonth', así que nos hemos quedado con una base de datos con tan solo 31 días.

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
489717,2008,1,9,3,1926.0,1930,2033.0,2040,AA,661,...,6.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
421512,2008,1,3,4,809.0,810,1014.0,1020,MQ,4869,...,13.0,26.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
60726,2008,1,21,1,603.0,605,708.0,725,WN,558,...,3.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
410940,2008,1,11,5,1124.0,1120,1250.0,1240,MQ,4324,...,5.0,19.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
723438,2008,2,10,7,NaN,1340,NaN,1547,XE,2995,...,NaN,NaN,1,C,0,NaN,NaN,NaN,NaN,NaN
785910,2008,2,14,4,1227.0,1140,1354.0,1259,OO,5478,...,3.0,24.0,0,NaN,0,55.0,0.0,0.0,0.0,0.0
299634,2008,1,2,3,1127.0,1115,1302.0,1250,WN,2622,...,12.0,19.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
165888,2008,1,26,6,1530.0,1545,1755.0,1821,OH,5298,...,2.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
437181,2008,1,31,4,2211.0,2215,42.0,49,NW,760,...,9.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
997728,2008,2,13,3,1950.0,1955,2156.0,2205,MQ,4559,...,4.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
578518,2008,1,23,3,905.0,859,1106.0,1100,CO,527,...,7.0,20.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
556089,2008,1,19,6,1933.0,1935,2306.0,2255,B6,459,...,4.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
891188,2008,2,15,5,651.0,650,1006.0,1031,DL,1003,...,6.0,23.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
451196,2008,1,25,5,812.0,815,1007.0,1009,NW,1654,...,10.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
82400,2008,1,28,1,1529.0,1445,1649.0,1610,WN,1058,...,4.0,13.0,0,NaN,0,0.0,0.0,11.0,0.0,28.0
45626,2008,1,17,4,2135.0,2100,2238.0,2205,WN,1251,...,6.0,6.0,0,NaN,0,12.0,0.0,0.0,0.0,21.0
883428,2008,2,29,5,1909.0,1910,2142.0,2239,US,857,...,5.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
565997,2008,1,6,7,901.0,905,1146.0,1208,CO,321,...,8.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
41821,2008,1,16,3,2008.0,2015,2107.0,2120,WN,2809,...,3.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
965291,2008,2,1,5,850.0,850,959.0,1000,MQ,3102,...,6.0,19.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
164841,2008,1,24,4,2100.0,2100,2300.0,2249,OH,5511,...,8.0,48.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
512468,2008,1,18,5,1058.0,1105,1428.0,1450,AA,1600,...,19.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
337093,2008,1,27,7,1643.0,1643,1707.0,1715,EV,4611,...,2.0,22.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
504562,2008,1,12,6,1009.0,1015,1546.0,1600,AA,1302,...,7.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
121864,2008,1,7,1,1111.0,1115,1259.0,1315,XE,2202,...,8.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
200190,2008,1,20,7,550.0,600,758.0,747,OO,5884,...,7.0,53.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
913631,2008,2,8,5,1636.0,1555,2002.0,1925,EV,4296,...,11.0,12.0,0,NaN,0,37.0,0.0,0.0,0.0,0.0
772639,2008,2,5,2,1023.0,1005,1344.0,1245,OO,6718,...,4.0,50.0,0,NaN,0,59.0,0.0,0.0,0.0,0.0
414554,2008,1,22,2,1317.0,1245,1452.0,1400,MQ,4466,...,8.0,15.0,0,NaN,0,0.0,0.0,20.0,0.0,32.0
489263,2008,1,30,3,1347.0,1330,1936.0,1920,AA,642,...,28.0,13.0,0,NaN,0,0.0,0.0,0.0,0.0,16.0
3045,2008,1,4,5,745.0,745,850.0,855,WN,2,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [9]:
# gestión de datos faltantes
dfclean.dropna()
#  obtenemos un "data frame" vacío. ¿Por qué ha ocurrido eso? Básicamente porque ninguna de las filas de nuestro "data frame" no tiene ningún dato faltante. Esto es debido a que, si el vuelo está cancelado, no tiene hora de llegada. Y si tiene hora de llegada, el vuelo no está cancelado. Así que por fuerza alguna de estas dos columnas va a tener un dato faltante.

Empty DataFrame
Columns: [Year, Month, DayofMonth, DayOfWeek, DepTime, CRSDepTime, ArrTime, CRSArrTime, UniqueCarrier, FlightNum, TailNum, ActualElapsedTime, CRSElapsedTime, AirTime, ArrDelay, DepDelay, Origin, Dest, Distance, TaxiIn, TaxiOut, Cancelled, CancellationCode, Diverted, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay]
Index: []

[0 rows x 29 columns]

In [10]:
dfclean.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
489717,2008,1,9,3,1926.0,1930,2033.0,2040,AA,661,...,6.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
421512,2008,1,3,4,809.0,810,1014.0,1020,MQ,4869,...,13.0,26.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
60726,2008,1,21,1,603.0,605,708.0,725,WN,558,...,3.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
410940,2008,1,11,5,1124.0,1120,1250.0,1240,MQ,4324,...,5.0,19.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
367621,2008,1,21,1,1035.0,1027,1212.0,1213,FL,352,...,5.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [12]:
dfclean.dropna(thresh=25)
# con el parámetro threshold especificamos cuántas entradas de todas las columnas que tenemos queremos que estén llenas de información relevante. Por ejemplo, podríamos decirle "quiero 25 entradas llenas de las 29 que hay".

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
785910,2008,2,14,4,1227.0,1140,1354.0,1259,OO,5478,...,3.0,24.0,0,NaN,0,55.0,0.0,0.0,0.0,0.0
450718,2008,1,26,6,1348.0,1349,1555.0,1531,NW,1632,...,12.0,47.0,0,NaN,0,0.0,0.0,24.0,0.0,0.0
82400,2008,1,28,1,1529.0,1445,1649.0,1610,WN,1058,...,4.0,13.0,0,NaN,0,0.0,0.0,11.0,0.0,28.0
162739,2008,1,21,1,800.0,740,957.0,940,OH,5241,...,2.0,20.0,0,NaN,0,17.0,0.0,0.0,0.0,0.0
45626,2008,1,17,4,2135.0,2100,2238.0,2205,WN,1251,...,6.0,6.0,0,NaN,0,12.0,0.0,0.0,0.0,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247114,2008,1,17,4,1102.0,1100,1440.0,1359,UA,1160,...,9.0,56.0,0,NaN,0,0.0,0.0,39.0,0.0,2.0
787,2008,1,3,4,1714.0,1620,1832.0,1745,WN,2900,...,4.0,10.0,0,NaN,0,33.0,0.0,0.0,0.0,14.0
654430,2008,2,17,7,1801.0,1735,2042.0,2005,WN,123,...,15.0,15.0,0,NaN,0,26.0,0.0,11.0,0.0,0.0
365073,2008,1,17,4,1701.0,1432,2006.0,1624,FL,816,...,10.0,71.0,0,NaN,0,0.0,0.0,73.0,0.0,149.0
742797,2008,2,23,6,1500.0,1305,1622.0,1457,YV,2617,...,6.0,8.0,0,NaN,0,85.0,0.0,0.0,0.0,0.0

In [14]:
dfclean.dropna(subset=["CancellationCode"])
# Si lo que nos interesa es filtrar por una columna en concreto, podemos usar la misma función y usar el parámetro 'subset', y dentro de una lista ponerle el nombre de columna por el que queremos filtrar. Así, nos va a devolver un "data frame" donde no tenga NaN en esta columna.

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
723438,2008,2,10,7,NaN,1340,NaN,1547,XE,2995,...,NaN,NaN,1,C,0,NaN,NaN,NaN,NaN,NaN
863613,2008,2,13,3,NaN,1615,NaN,1736,US,1262,...,NaN,NaN,1,C,0,NaN,NaN,NaN,NaN,NaN
668513,2008,2,21,4,NaN,1355,NaN,1505,WN,2208,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
271230,2008,1,12,6,NaN,1815,NaN,1828,US,1509,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
417065,2008,1,14,1,NaN,820,NaN,935,MQ,4611,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990644,2008,2,12,2,NaN,1125,NaN,1325,MQ,4232,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
175904,2008,1,5,6,NaN,820,NaN,925,OO,3674,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
217589,2008,1,31,4,NaN,1635,NaN,1823,OO,5920,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
912128,2008,2,1,5,NaN,1855,NaN,2044,EV,4248,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
737691,2008,2,15,5,NaN,600,NaN,554,YV,7408,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN